{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Doctores</h1> 

    <table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Sexo</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Numero</th>
        <th scope="col">Cedula Profesional</th>
        <th scope="col">Email</th>
        
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{ user.medicos.id }}</td>
        <td>{{ user.medicos.nombre }}</td>
        <td>{{ user.medicos.apellidos }}</td>
        <td>{{ user.medicos.genero }}</td>
        <td>{{ user.medicos.fecha_nacimiento }}</td>
        <td>{{ user.medicos.numero_celular }}</td>
        <td>{{ user.medicos.cedula }}</td>
        <td>{{ user.medicos.email }}</td>
        </tr>
    </tbody>
    </table>
{% endblock content %}