{% extends "core/base.html" %}
{% load static %}
{% block content %}
<h1>Consultorios</h1>
    {% for especialidades in posts %}
            <div class="row">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ especialidades.image.url }}" class="card-img" >
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{especialidades.title}}</h5>
                                <p class="card-text">{{especialidades.content}}</p>
                                <p class="card-text"><small class="text-muted">{{ especialidades.date_posted|date:"F d, Y" }} <a href="#" class="btn btn-dark bg-steel">Ver mas...</a></small></p>
                            </div>
                        </div>
                    </div>
                </div>   
                            
            </div>
    {% endfor %}
{% endblock content %}